@model Portal.DomainClasses.Models.WeblogComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WeblogComment</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Weblog Post Title")
            @*@Html.DisplayNameFor(model => model.WeblogPost.Title)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeblogPost.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Writer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Writer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommentDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentDateTime)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class="btn btn-default" }) |
    @Html.ActionLink("Back to List", "Index", new  { WeblogPostId = Model.WeblogPostId })
</p>
