@{
    ViewBag.Title = "Finished Tools";
}

<h2>Finished Tools</h2>
<hr/>

<section>
    <h3>Tools:</h3>
    <ul>
        <li class="">@Html.ActionLink("Weblog", "Index", "Weblog")</li>
        <li class="">@Html.ActionLink("File Host", "Index", "Upload")</li>
        <li class="">@Html.ActionLink("Server Information", "ServerInformation", "Tools")</li>
        <li class="">@Html.ActionLink("Your System", "UsersInformation", "Tools")</li>
        <li class="">@Html.ActionLink("Google Map", "GoogleMap", "Tools")</li>
        <li class="">@Html.ActionLink("RSS", "RSS", "Tools")</li>
        <li class="">@Html.ActionLink("DNS", "DNS", "Tools")</li>
        <li class="">@Html.ActionLink("Ping", "Ping", "Tools")</li>
        <li class="">@Html.ActionLink("Google Search", "Search", "Tools")</li>
        <li class="">@Html.ActionLink("Send Mail", "SendMail", "Tools")</li>
        <li class="">@Html.ActionLink("RedirectPage", "RedirectPage", "Tools")</li>
    </ul>
    <hr />

    <h3>Web Parts:</h3>
    <ul>
        <li class="">@Html.ActionLink("SlideShow", "SlideShow", "Tools")</li>
        <li class="">@Html.ActionLink("SlideShow Bootstrap", "SlideShowBootstrap", "Tools")</li>
        <li class="">@Html.ActionLink("PersianDatePicker", "PersianDatePicker", "Tools")</li>
        <li class="">@Html.ActionLink("PersianDateTimePicker", "PersianDateTimePicker", "Tools")</li>
        <li class="">@Html.ActionLink("PersianDate TimePicker 2(Better)", "PersianDateTimePicker2", "Tools")</li>
        <li class="">@Html.ActionLink("Ajax-jQuery-Json", "AjaxjQuery", "Tools")</li>
        <li class="">@Html.ActionLink("Ajax-jQuery-PartialView", "AjaxjQueryPartialView", "Tools")</li>
        <li class="">@Html.ActionLink("Ajax.BeginForm-Json", "AjaxBeginForm", "Tools")</li>
        <li class="">@Html.ActionLink("jQuery UI", "jQueryUI", "Tools")</li>
        <li class="">@Html.ActionLink("Facebook Like", "FacebookLike", "Tools")</li>
        <li class="">@Html.ActionLink("Google Plus", "GooglePlus", "Tools")</li>
        <li class="">@Html.ActionLink("Mouse Over Resize Image", "MouseOverResizeImage", "Tools")</li>
        <li class="">@Html.ActionLink("Visitors Location", "VisitorsLocation", "Tools")</li>
        <li class="">@Html.ActionLink("Clock", "Clock", "Tools")</li>
        <li class="">@Html.ActionLink("Video", "Video", "Tools")</li>
        <li class="">@Html.ActionLink("Bootstrap Modal", "BootstrapModal", "Tools")</li>
        <li class="">@Html.ActionLink("Bootstrap Modal Ajax", "BootstrapModalAjax", "Tools")</li>
        <li class="">@Html.ActionLink("jQuery Cycle", "jQueryCycle", "Tools")</li>
    </ul>
</section>
