@model Portal.DomainClasses.Models.WeblogPost

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="tex"></div>

@using (Html.BeginForm("Edit", "Weblog", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>WeblogPost</legend>
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Writer, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Writer, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Writer)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostContent, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.PostContent, new { rows = "5", cols = "15", @class = "form-control", style = "width:300px;max-width:1200px" })
                    @Html.ValidationMessageFor(model => model.PostContent)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostDateTime, new { @class = "control-label col-md-2" })
                <div class="col-md-10 ">
                    @Html.TextBoxFor(model => model.PostDateTime, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PostDateTime)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
}
